:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
/*============================CONTAINER==============================*/
.container {
  width: 1188px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.top-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.top-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.addres {
  margin-left: auto;
  margin-right: auto;
}
.addres-list {
  display: flex;
  align-items: center;
}

.addres-contact-tel {
  margin-left: 40px;
}
.logo {
  margin-right: 76px;
}
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero {
  max-width: 496px;
  padding-bottom: 48px;
}
.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-features {
  display: flex;
}
.features-list {
  display: flex;
  align-items: center;
}
.features-item:not(:last-child) {
  margin-right: 24px;
}
.titel-features {
  margin-bottom: 8px;
}
.section-device {
  padding-bottom: 120px;
}
.titel-device {
  align-items: center;
  margin-bottom: 72px;
}
.device-list {
  display: flex;
}
.device-item:not(:last-child) {
  margin-right: 24px;
}
.section-people {
  padding-top: 120px;
  padding-bottom: 120px;
}
.people-titel {
  margin-bottom: 72px;
}
.people-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.people-subtitle {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.text-people {
  text-align: center;
  margin-bottom: 32px;
}
.footer {
  padding-top: 102px;
  padding-bottom: 100px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.logo-footer {
  margin-bottom: 18px;
}
/*====================================CONTAINER PORTFOLIO==================*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.img-item {
  width: calc((100% - 48px) / 3);
}
.title-img {
  margin: 32px 95px 8px 16px;
}
.text-img {
  margin-left: 16px;
  margin-bottom: 32px;
  margin-right: auto;
}
.text-footer {
  max-width: 264px;
}

/*===============================Header==============================*/

.top-header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.acento {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.link .logo {
  text-decoration: none;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  color: #404bbf;
}
.addres {
  font-style: normal;
}
.addres-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.addres-contact:hover,
.addres-contact:focus {
  color: #404bbf;
}

/*==============================================Main==================================*/
/*======================STUDIO=========================*/
.section-hero {
  background: #2e2f42;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.modal-btn-hero {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
}
.modal-btn-hero:hover,
.modal-btn-hero:focus {
  background: #404bbf;
}

.titel-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-features {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.titel-device {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-people {
  background: #f4f4fd;
}
.people-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.people-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.people-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-people {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*====================PORTFOLIO=================*/

.modal-btn {
  cursor: pointer;
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
  color: #ffffff;
}

.title-img {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-img {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*============================FOOTER==========================*/

.footer {
  background: #2e2f42;
}
.footer .acento {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
